<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="${appLabel}"
        android:roundIcon="${appRoundIcon}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation|density"
            android:name=".MainActivity"
            android:label="${appLabel}"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="${appLinkHost}"
                    android:path="/verify_email.php" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".MainActivityTrail"
            android:enabled="${appIconTrailEnabled}"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="${appLabel}"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityTrailDark"
            android:enabled="${appIconTrailDarkEnabled}"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_trail_dark"
            android:label="${appLabel}"
            android:roundIcon="@mipmap/ic_launcher_trail_dark_round"
            android:theme="@style/AppTheme.NoActionBarLaunch.TrailDark"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityEmber"
            android:enabled="${appIconEmberEnabled}"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ember"
            android:label="${appLabel}"
            android:roundIcon="@mipmap/ic_launcher_ember_round"
            android:theme="@style/AppTheme.NoActionBarLaunch.Ember"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityEmberDark"
            android:enabled="${appIconEmberDarkEnabled}"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ember_dark"
            android:label="${appLabel}"
            android:roundIcon="@mipmap/ic_launcher_ember_dark_round"
            android:theme="@style/AppTheme.NoActionBarLaunch.EmberDark"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityRiverstone"
            android:enabled="${appIconRiverstoneEnabled}"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_riverstone"
            android:label="${appLabel}"
            android:roundIcon="@mipmap/ic_launcher_riverstone_round"
            android:theme="@style/AppTheme.NoActionBarLaunch.Riverstone"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityRiverstoneDark"
            android:enabled="${appIconRiverstoneDarkEnabled}"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_riverstone_dark"
            android:label="${appLabel}"
            android:roundIcon="@mipmap/ic_launcher_riverstone_dark_round"
            android:theme="@style/AppTheme.NoActionBarLaunch.RiverstoneDark"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityBlackberry"
            android:enabled="${appIconBlackberryEnabled}"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_blackberry"
            android:label="${appLabel}"
            android:roundIcon="@mipmap/ic_launcher_blackberry_round"
            android:theme="@style/AppTheme.NoActionBarLaunch.Blackberry"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityBlackberryDark"
            android:enabled="${appIconBlackberryDarkEnabled}"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_blackberry_dark"
            android:label="${appLabel}"
            android:roundIcon="@mipmap/ic_launcher_blackberry_dark_round"
            android:theme="@style/AppTheme.NoActionBarLaunch.BlackberryDark"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityBarnwood"
            android:enabled="${appIconBarnwoodEnabled}"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_barnwood"
            android:label="${appLabel}"
            android:roundIcon="@mipmap/ic_launcher_barnwood_round"
            android:theme="@style/AppTheme.NoActionBarLaunch.Barnwood"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityBarnwoodDark"
            android:enabled="${appIconBarnwoodDarkEnabled}"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_barnwood_dark"
            android:label="${appLabel}"
            android:roundIcon="@mipmap/ic_launcher_barnwood_dark_round"
            android:theme="@style/AppTheme.NoActionBarLaunch.BarnwoodDark"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

    <!-- Permissions -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>
